<html lang="es">

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
    <!-- JavaScript -->
    <script
      src="/js/alertify.min.js"
    ></script>
    <!-- CSS -->
    <link
      rel="stylesheet"
      href="/css/alertify.min.css"
    />

    <link
      rel="stylesheet"
      href="/css/semantic.min.css"
    />
    <link rel="shortcut icon" href="image/mobile_pay.svg" type="image/x-icon" />
    <link rel="stylesheet" href="/css/styles.css" />
    <link rel="stylesheet" href="/stylesheets/tailwind.css" />
    <link rel="stylesheet" href="/stylesheets/styles.css" />
    <link
      rel="stylesheet"
      href="/stylesheets/daisyui/full.css"
      type="text/css"
    />
    <link rel="stylesheet" href="/dist/full.css" type="text/css" />
  </head>

  <body>
    {{{body}}}

    <script type="application/javascript" src="/js/app.js"></script>
    <script type="application/javascript" src="/js/actions.js"></script>
  </body>

</html>