<!DOCTYPE html>
<html lang="es">

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Mi cuenta</title>
    <meta property="og:type" content="website" />
    <meta property="og:title" content="Cajero" />
    <meta property="og:url" content="https://operaciones-orcin.vercel.app" />
    <meta property="og:image" content="/image/transfer.svg" />
    <meta
      property="og:description"
      content="Operaciones b치sicas de un cajero autom치tico"
    />
    <meta
      name="description"
      content="Operaciones b치sicas de un cajero autom치tico"
    />

    <!-- JavaScript -->
    <!-- CSS -->
    <link rel="stylesheet" href="/css/alertify.min.css" />

    <link rel="stylesheet" href="/css/semantic.min.css" />
    <link rel="shortcut icon" href="image/mobile_pay.svg" type="image/x-icon" />
    <link rel="stylesheet" href="/css/styles.css" />
    <link rel="stylesheet" href="/stylesheets/tailwind.css" />
    <style>
      @view-transition {
        navigation: auto;
      }

    ::view-transition-group(*) {
    animation-duration: 0.5s;
      }


    </style>
  </head>

  <body>
    {{{body}}}

    {{!-- script --}}
    <script src="/js/alertify.min.js"></script>
    <script  src="/js/app.js"></script>
    <script  type="module" src="/js/template/actions.js"></script>
    <script  type="module" src="/js/actions.js"></script>
    {{!-- script --}}
  </body>

</html>