<div class="formDesign">
  <div class="">
    <h2 class="font-bold">
      Saldo:
    </h2>
    <p>
      {{valueCount}}
    </p>
    <br />
    <div class="grid w-full justify-center gap-4">
      <div class="card-actions">
      </div>
    </div>
  </div>
  <button id="reBack" class="reBack btn btn-primary w-full">Regresar</button>
</div>