<div class="formDesign" id="formRestCompleted">
  <div class="">
    <h2 class="font-bold">Operación realizada!</h2>
    <p>Se ha retirado el monto de su cuenta correctamente.</p>
    <br>
    <div class="grid w-full justify-center  gap-4">
      <div class="card-actions">
      </div>
    </div>
  </div>
        <button class="btn btn-primary w-full reBackRest">Regresar</button>
</div>